.show_container {
  text-align: center;
}

.show_container .show_title {
  padding: 20px 5px;
  width: 100%;
}

.show_container .show_box {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: auto;
  min-height: 500px;
  background-color: lavender;
  border-radius: 8px;
}

.show_container .show_title .main_link {
  padding: 10px;
  color: #000000;
  border: 1px solid black;
  border-radius: 6px;
}

.show_container .show_box .add_btn {
  width: 22px;
  height: 22px;
  background-color: initial;
  border: 1px solid black;
  border-radius: 50%;
  text-align: right;
  cursor: pointer;
  transition: 300ms ease-in;
}

.show_container .show_box .add_btn:hover {
  transform: scale(1.1);
}
