ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container ul {
  display: flex;
  justify-content: center;
  padding: 20px 5px;
  width: 100%;
}

.container li {
  padding: 10px;
  color: #000000;
  border: 1px solid black;
  border-radius: 6px;
}

.container ul li + li {
  margin-left: 15px;
}

.container .main_description {
  width: 100%;
}

.container .main_description .title {
  margin-bottom: 50px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.container .main_description .room_sec {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.container .main_description .room_sec .sec {
  padding: 10px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: antiquewhite;
}

.container .main_description .room_sec .sec + .sec {
  margin-left: 30px;
}

.container .main_description .room_sec .sec .pic {
  width: 100%;
  height: calc(100% - 110px);
  border-radius: 12px;
}
